<h3>Sklearn Prediction Container</h3>
<p>
    API endpoint: /predict [POST]
    <br>
    Input sample:
    <br>
    {
    "CHAS": { "0": 0 }, "RM": { "0": 6.575 },
    "TAX": { "0": 296 }, "PTRATIO": { "0": 15.3 },
    "B": { "0": 396.9 }, "LSTAT": { "0": 4.98 },
    "AGE": { "0": 15.2 }, "DIS": { "0": 4.0900 },
    "RAD": { "0": 5 }, "ZN": { "0": 0 },
    "NOX": { "0": 0.538 }, "INDUS": { "0": 11.9300 },
    "CRIM": { "0": 0.00632 }
    }
    <br>
    Output sample:
    <br>
    { "prediction": [ 20.35373177134412 ] }
</p>